.DS_Store
.layers
.idea
.vscode
cdk.out

integration-tests/config.json

dist/*
existing_layers
nodejs/*
node_modules/*
self-monitoring-app/dist/*
scripts/.cache
scripts/.layers
scripts/.src
# Intermediate template for custom variables
modified_template.yaml

*.zip
